body{
    margin: 0px;
    font-size: 14px;
    color: #333;
    letter-spacing: 1px;

}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3; /*gives preverence to certain element to be shown*/
    background-color: rgb(0, 0, 0, 0.4);
}

.slides-navigation .prev,
.slides-navigation .next{
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../img/icons/back.png);
}

.slides-navigation a.next{
    right: 20px;
    background-image: url(../img/icons/next.png);

}

.titleMssg{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 3;
    text-align: center;
    margin-top: -125px;
}

.titleMssg .heading p {
    color: #ffffff;
    text-shadow: 0px, 2px, 0px, 0.4;
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMssg .heading .main{
    font-size: 50px;
}

.slides-navigation a.prev,
.slides-navigation a.next {
    z-index: 8;
}

.section {
     padding: 100px 0; /*top and bottom left and right */
}

.aboutImage{
    max-width: 100%;
    height: 500px;
}


.skillsSection,
.contactSection {
    background-color: #1289A7;
    color: #fff;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: black;
    line-height: 152px;
    display: inline-block;
    font-size: 30px;

}

.chart .percent:after {
    content:'%'

}

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px 15px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;

}

.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}


.squareInnerContainer:before{
    right: 0px;
}

.squareInnerContainer:after {
    left: 0px;
}


.squareContent h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #F79F1F;
    
}
.squareContent h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;

}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    font-size: 45px;
    margin-left: -20%;
    color: rgb(75, 75, 46);
}

.contactButton {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.contactButton:hover {
text-decoration: none;
color: #1289A7;
background-color: #fff;
}

.filter{
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}
    

.filter a {
    color: #d1d8e0;
    border: 1px solid #d1d8e0;
    padding: 10px 18px;
    display: block;

}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #1289A7;
    border-color: #333;
    color: #fff;
}

.items li {
    display: inline-block;
    pad: 5px;
}

.items .item{
    position: relative;
    display: block;
    overflow: hidden;

}

.itemsContainer {
    width: 100%;
}

.items li img{
    width: 100%;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    transition: all 0.2s linear, 1s;
    /*smooth zoom*/
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto  0 -47px;
    text-align: center;
    z-index: 3;
}


 .items .icons i{
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
    }

.items a{
    width: 40px;
    height: 40px;
    background-color: #4b4b4b;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, 0.4s;
    -moz-transition: all 0.2s linear, 0.4s;
    -o-transition: all 0.2s linear, 0.4s;
    -ms-transition: all 0.2s linear, 0.4s;
    transition: all 0.2s linear, 0.5s;
    }

.items .imageOverlay
    {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    transition: all 0.2s linear, 1s;
    }

.items .item:hover .imageOverlay
    {
    opacity: 1;
    }


.items .openButton {
    float: left;
    left: -200px;
    
}
.items .projectLink {
    float: right;
    right: -200px;
}
.items .item:hover .openButton {
    left: 0px;
    
}
.items .item:hover .projectLink {
    right: 0px;
}
.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.items{
    padding: 0;
}

.copyrightSection{
    background-color: #444;
    color: #fff;
    padding: 30px 5px;

}

.copyrightSection p {
    margin: 0;
}

#navigation{
    background-color: #1289A7 ;
    padding: 20px 50px;
    z-index: 50;
    overflow: hidden;
    width: 100%;
}
#navigation li{
    padding: 0 10px;
}

#navigation li a,
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}

.navbar-toggler-icon{
    background:url("../img/icons/icons8-menu.gif");
    background-size: 100%;
}

.fixedNav #navigation{
position: fixed;
top: 0;
} 



.loader{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;

}

.loader .inner{
    width: 100%;
    height: 100%;
    background: url(../img/icons/loader.gif) center center no-repeat;

}








