body{
    margin: 0px;
    font-size: 14px;
    color: #333;
    letter-spacing: 1px;

}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3; /*gives preverence to certain element to be shown*/
    background-color: rgb(0, 0, 0, 0.4);
}

.slides-navigation .prev,
.slides-navigation .next{
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../img/icons/back.png);
}

.slides-navigation a.next{
    right: 20px;
    background-image: url(../img/icons/next.png);

}

.titleMssg{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 3;
    text-align: center;
    margin-top: -125px;
}

.titleMssg .heading p {
    color: #ffffff;
    text-shadow: 0px, 2px, 0px, 0.4;
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMssg .heading .main{
    font-size: 50px;
}

.slides-navigation a.prev,
.slides-navigation a.next {
    z-index: 8;
}

.section {
     padding: 100px 0; /*top and bottom left and right */
}

.aboutImage{
    max-width: 100%;
    height: 500px;
}


.skillsSection,
.contactSection {
    background-color: #1289A7;
    color: #fff;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: black;
    line-height: 152px;
    display: inline-block;
    font-size: 30px;

}

.chart .percent:after {
    content:'%'

}

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px 15px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;

}

.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}


.squareInnerContainer:before{
    right: 0px;
}

.squareInnerContainer:after {
    left: 0px;
}


.squareContent h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #F79F1F;
    
}
.squareContent h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;

}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    font-size: 45px;
    margin-left: -20%;
    color: rgb(75, 75, 46);
}

.contactButton {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.contactButton:hover {
text-decoration: none;
color: #1289A7;
background-color: #fff;
}

.filter{
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}
    

.filter a {
    color: #d1d8e0;
    border: 1px solid #d1d8e0;
    padding: 10px 18px;
    display: block;

}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #1289A7;
    border-color: #333;
    color: #fff;
}